language: python
cache: pip
sudo: false
addons:
  firefox: "49.0.2"
env:
  global:
  - PYTHONPATH=.
  - DISPLAY=:99.0
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
install:
- pip install -U --process-dependency-links -r requirements.txt
- pip install -U -r requirements_dev.txt
before_script:
- "export DISPLAY=:99.0"
- sh -e /etc/init.d/xvfb start
- sleep 3 # give xvfb some time to start
script:
- py.test -s
python:
  - "3.4"
  - "3.5"
  - "3.6"
