mock
pytest
PyYAML==3.10
ordereddict
Django>=1.5
pytest-django
Flask
CherryPy
selenium
pytest-cov

http://github.com/pivotal/jasmine/tarball/python-magics#egg=jasmine
http://github.com/mockfs/mockfs/tarball/master#egg=mockfs
