PyYAML==3.10
ordereddict>=1.0, <2.0
Flask>=0.10, <1.0
argparse>=1.0, <2.0
Jinja2>=2.0, <3.0
six>=1.0, <2.0
CherryPy>=3.5, <4.0
selenium>=2.0, <3.0
git+https://github.com/pivotal/jasmine@master
detox
mock
pytest
pytest-django
pytest-cov
pytest-flakes==0.2
pytest-pep8==1.0.6
http://github.com/mockfs/mockfs/tarball/master#egg=mockfs
Django==1.6.5
